<h2>Add bears!</h2>
<form action="/add" method="POST">
     <div class="add">
        url: <input type="text" name="url">
        label: <input type="text" name="newLabel">
        weight: <input type="number" name="newWeight">
        <input type="submit" value="Add new bear!">
    </div>
</form>