<!DOCTYPE html>
<html lang="en">
     <head>
          <link rel="stylesheet" type="text/css" href="/css/main.css">
          <meta charset="utf-8" />
          <title>bears.ai</title>
     </head>
     <body>
     	<div class="container">
	     	<img src="/img/header.png"/>
	        <h1>bears.ai</h1>
          <div class="nav">
  	        <a href="/">Home</a>
  	        <a href="/search">Search</a>
  	        <a href="/add">Add</a>
          </div>
			{{{body}}}
		</div>
    </body>
</html>